<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	
	<div  class="card  mr-4">
	
	<div  class="card-body">
	<h1  class="text-center">Add Disease</h1>
	
	
	<div class="container-fluid mt-1">
	
	<div  class="row">
	
	<div  class="col-md-10 offset-md-1">
	
	<form action="#"
	
	th:object="${disease}"
	enctype="multipart/form-data"
	method="post"
	th:action="@{/user/process-disease}"
	class="mt-2">
	<!--name  -->
	<div   class="input-group">
	
	<div   class="input-group-prepend">
	
	<div   class="input-group-text mr-3">
	
	
	<i  class="fa fa-plus"></i>
	</div>
	</div>
	<input  type="text"  id="firstName"  name="name"   placeholder="Enter name here" class="form-control">
	
	</div>
	
	<!--  -->
	
	<!-- diseasename -->
	
	<div   class="input-group  mt-3">
	
	<div   class="input-group-prepend">
	
	<div   class="input-group-text mr-3">
	
	
	<i  class="fa fa-plus"></i>
	</div>
	</div>
	<input  type="text"  id="diseasename"  name="disease"   placeholder="Enter disease here" class="form-control">
	
	</div>
	
	<!-- phone -->
	
	<div   class="input-group  mt-3">
	
	<div   class="input-group-prepend">
	
	<div   class="input-group-text mr-3">
	
	
	<i  class="fa fa-plus"></i>
	</div>
	</div>
	<input  type="number"  id="phone"  name="phone"   placeholder=" Enter contact number" class="form-control">
	
	</div> 
	<!-- age -->
	
	<div   class="input-group  mt-3">
	
	<div   class="input-group-prepend">
	
	<div   class="input-group-text mr-3">
	
	
	<i  class="fa fa-plus"></i>
	</div>
	</div>
	<input  type="number"  id="age"  name="disease"   placeholder="Enter your age" class="form-control">
	
	</div>
	<!-- email -->
	<div   class="input-group  mt-3">
	
	<div   class="input-group-prepend">
	
	<div   class="input-group-text mr-3">
	
	
	<i  class="fa fa-plus"></i>
	</div>
	</div>
	<input  type="email"  id="email"  name="email"   placeholder="Enter your email" class="form-control">
	
	</div>
	
	<!-- disease description -->
	
	<div  class="form-group mt-3">
	
	<textarea placeholder="Enter disease description" name="description"  id="description" rows="5" class="form-control">
	</textarea>
	<div class="container  text-center">
	<button  class="btn btn-outline-primary">Save Disease</button>
	
	
	</div>
	</div>
	
	</form>
	
	
	
	
	</div>
	
	
	
	</div>
	
	
	</div>
	</div>
	
	</div>
	
	</section>
</body>
</html>